body {
   background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7R6mLnaRDUJLEZ_JMIZCarmacm9C5UXEjx-kQxJApbsZHl_M39w');
   background-repeat: no-repeat;
   background-size: 1400px;
     }